* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  width: 1530px;
  height: 730px;
  background-image: url("http://static01.nyt.com/images/2012/09/09/magazine/09weather/mag-09weather-t_CA0-superJumbo.jpg");
}

.container-weather {
  position: relative;
}

.card {
  position: absolute;
  top: 200px;
  left: 430px;
  width: 450px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgba(79, 127, 224, 0.5);
}

.input {
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 16px 0px 26px 0px;
  background-color: rgba(255, 255, 255, .6);
  border: none;
  transition: .4s ease-out;

}
input:focus {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 16px 0px 26px;
} 
.wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.wrapper-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wrapper-head {
  font-size: 40px;
}

.wrapper-country {
  font-size: 20px;
}

.wrapper-Temper {
  font-size: 30px;
}

.wrapper-speed {
  font-size: 20px;
}